# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Become familiar with Open Source,  Cloud-based,  and Commercial options for data science tools.
- Learn the benefits of Python, R, SQL, and other common languages such as Java, Scala, C++, JavaScript, and Julia.
- In-depth knowledge of different libraries, APIs, dataset sources and models used by data scientist.
- Introduction to Jupyter Notebook and JupyterLab.

Some of the popular languages that Data Scientists use are:
1. Python 
2. Sql
3. R

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Pandas 
3. NumPy

| Data Science Tools |
| -------------------|
| Jupyter Notebooks |
| R Studio |
| Apache Spark |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author 
Sharan Banik